<%- include('./header.ejs')%>
    <%- include('./navbar.ejs')%>
        <h1>Home Page</h1>
        <br>
        <h2>Hi! Welcome  <%= name%> </h2>
        <br>

        <hr><br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti sapiente fugit porro voluptatum ratione
            quas, nesciunt enim placeat non minus, fuga consectetur magnam mollitia incidunt quam culpa perspiciatis
            repellendus. Cum nisi earum in, iusto porro distinctio sit voluptas. Fuga omnis libero quibusdam deleniti
            animi sed, impedit repellendus similique et expedita.</p>
<%- include('./footer.ejs')%>